* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  /* border: solid saddlebrown; */
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.calculator {
  /* border: solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: skyblue;
  border-radius: 20px;
  gap: 15px;
}
.summary {
  /* border: solid pink; */
  border-radius: 10px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
input {
  border: none;
  border-radius: 10px;
  outline: 0;
  width: 100%;
  height: 60px;
  font-size: 30px;
  background-color: black;
  color: white;
}

.all-button {
  /* border: solid red; */
  background-color: antiquewhite;
  width: 95%;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.button-line-1,
.button-line-2,
.button-line-3,
.button-line-4,
.button-line-5 {
  /* border: solid salmon; */
  display: flex;
  justify-content: space-around;
}
button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  background: black;
  color: white;
  border: none;
  /* border: solid white; */
  border-radius: 10px;
}
/* button:hover {
} */
